html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/************** FIN RESET *************/


body{
	background-color:white;
	font-family: 'Roboto', sans-serif;	
	color: #354342;
}
.wrapper{
	background-color: #BBA3B3;
	width: 1100px;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-top: 40px;
	margin-top: 20px;
	border-radius: 0px 0px 7px 7px;
	background-color: #CDDDDA;

}
nav{
	width: 100%;
	margin-top: 20px;
	margin-bottom: -20px;
	background-color: #9bbbb6;
	text-align: center;
}

nav ul li{
	display: inline;
	line-height: 50px;
	float: left;
}

nav ul li a{
	display: block;
	text-decoration: none;
	width: 300px;
	background-color: #9bbbb6;
	margin-left: 0px;
	color: white;
	/*font-weight: bold;*/
	font-size: 20px;
	font-family: 'Sansita', sans-serif;
}

nav ul li a:hover{
	background-color:#E5E5E5;
	color:#354342;
}

.hello{
	color: black;
	text-align: center;	
	margin-bottom: 150px;
	margin-top: 50px;
	font-size: 60px;
}

.clearfix{
	clear: both;
}

.image{
	margin-left: 5%;
	border: 1px solid white;
}
.identite{
	padding: 15px;
	text-align: left;	
	list-style-type: square;	
}
.etat_civil{
	padding: 15px;	
	text-align: left;	

}

table {
border: 2px solid #9C8445;
border-collapse: collapse;
width: 750px;
margin: 0 auto;	
/*background-color: #66111F;*/
}

th {
border: 2px solid #9C8445;
width: 50%;
padding: 5px;

}
td {
border: 2px solid #9C8445;
width: 50%;
padding: 5px;
text-align: center;
}
caption {
font-family: sans-serif;
}
.formulaire0{
	background-image: url("../img/login2.jpg");
	padding-bottom: 40px;	
}
.formulaire1{
	margin-top: 179px;
	width: 433px;
	height: 43px;
	margin-left: 50%;

}
.formulaire2{
	width: 433px;
	height: 43px;
	margin-left: 50%;
	margin-top: 10px;

}
.bouton{
	margin-left: 50%;
	text-align: right;	
}
.h1{
	font-size: 80px;
	padding-left: 20px;
	padding-top: 20px;
	margin-left: 30px;	
	margin-top: 50px;	
	font-family: 'Sansita', sans-serif;	
}
h1{
	font-size: 40px;
	padding-left: 20px;
	padding-top: 10px;
	margin-bottom: 40px;
	font-family: 'Sansita', sans-serif;
}
input[type=submit]{
	/*border-radius: 25px;*/
	background-color: #4C4C4C;
	font-family: 'Sansita', sans-serif;	
	color: white;
	margin-top: 5px;
	margin-bottom: 5px;
	border: none;
	padding: 5px;
}
input[type=text]{
	background-color: transparent;
	border: none;
}
textarea{
	background-color: transparent;
}

/**COMPETENCES***/

caption{
	margin-top: 100px;
	margin-bottom: 30px;	
	font-weight: bold;	
}


/**EXPERIENCES***/

