body{
	font-family: 'Raleway', sans-serif;
	background-color: #fff;
	}

	/*/// HEADER ///*/

#top .btn{
	float: right;
	margin-right: 20px;
	margin-top: 443px;
	position: relative;


}

.text-vertical-center h1 {
    font-size: 5.5em;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 167px ;
    color: #fff;
    /*text-shadow: 1px 1px 1px#228DFF;*/
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: -3px;
    transition: 0.5s;
}
.text-vertical-center h1:hover {
 color: #B20037;
  transition: 0.5s;
  text-shadow: 1px 1px 1px white;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;

}
.soustitre {
    border-top: 3px solid #B20037;
    text-align: center;
    font-size: 28px;
    padding-top: 17px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/*.soustitre {
    border-top: 1px solid white;
    text-align: center;
    font-size: 30px;
    padding-top: 17px;
    font-family: 'Neon',serif;
    color: white;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px#228DFF, 0 0 70px#228DFF, 0 0 80px#228DFF, 0 0 100px#228DFF, 0 0 150px#228DFF;
    font-family: 'Monoton', cursive;
}*/
.soustitre:hover {
 /* color: #B20037;
  transition: 0.5s;
  text-shadow: 1px 1px 1px white;*/
}

/*.header{
	background-image: url(../img/malteserois.jpeg);
	position: relative;
	z-index: 10;
}*/

.header {
	background-image: url('../img/computer1.jpg');
}

.logo{
	margin-left: 122px;
    padding-top: 53px;
}
/*// NAV //*/

.sidebar-brand{

}


/*/// WRAPPER ///*/
.wrapper {
    margin: 0 auto;
    background-color: #fff;
}

.fa-4x {
    font-size: 4em;
    color: #d3b7ac;
}

.text-center{
	text-align: left;
	font-family: 'Roboto Condensed', sans-serif;
}
.col-lg-12 {
    width: 100%;
    margin-bottom: 100px;	
}
.btn-dark{
	background-color: white;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
    color: #fff;
    background-color: white;
}

/*//COMPETENCES NUMERIQUES //*/
@import url(http://fonts.googleapis.com/css?family=Exo);


.skills {
  width: inherit;
  position: relative;
  float: left;
  padding: 30px 0;
}
h2 {
   font-size: 40px;
  margin-bottom: 25px;
  font-family: 'Droid Sans', sans-serif;
  color: #a2134b;
  font-weight: bold;
  /*background-color: #a2134b;*/
  width: 315px;
  padding: 5px;
  /*border-radius: 6px;*/
  padding-left: 8px;
  letter-spacing: -1px;
  font-family: 'Roboto', sans-serif;
  border:1px solid #a2134b;
}

ul {
    padding-top: 50px;
    color:  #a2134b;
    list-style: none;
    padding-top: 0;
    font-family: 'Open Sans', cursive;
}
ul > li {
  margin-bottom: 70px;
  background: #000;
  height: 5px;
  border-radius: 3px;
  border-left: 1px solid #111;
  border-top: 1px solid #111;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}
ul > li em {
  font-family: 'Exo', sans-serif;
  font-size: 18px;
  position: relative;
  top: -30px;
}
ul > li span {
    height: 1px;
    margin: 2px 0;
       background: #FF1177;
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(255, 17, 119, 1);
    margin-top: 1px;  

}
.html5 {
  width: 70%;
  animation: html5 2s ease-out;
}
.css3 {
  width: 90%;
  animation: css3 2s ease-out;
}
.php {
  width: 50%;
  animation: jquery 2s ease-out;
}
.photoshop {
  width: 60%;
  animation: photoshop 2s ease-out;
}
.indesign {
  width: 60%;
  animation: photoshop 2s ease-out;
}
.github {
  width: 60%;
  animation: photoshop 2s ease-out;
}
.sql {
  width: 60%;
  animation: photoshop 2s ease-out;
}
@keyframes html5 {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}
@keyframes css3 {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@keyframes php {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@keyframes photoshop {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@keyframes indesign {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@keyframes github {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@keyframes sql {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}


/*.text-center h2 {
    font-size: 30px;
    color: #19114F;
    text-align: center;
    margin-bottom: 83px;
    font-family: 'Arsenal', sans-serif;
}

h3{
	margin-bottom: 70px;
	text-align: left;
	border-bottom: 1px solid #D9B600;
	margin-top: 151px;

}
.fa-lg{
	margin-top: 20px;
	text-align: left;
}
*/
.portfolio{
	background-color:#fff;
}

/*// A PROPOS //*/


.parallax1 {
    text-align: center;
    color: #a2134b;
    padding-top: 30px;
    margin-bottom: 63px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 19px;
    padding-top: 13px;
    padding-right: 20px;
    width: 302px;
    letter-spacing: -2px;
}

.parallax{
	text-align: center;
	color: white;
	margin-top: 30px;
	float: left;
	padding-left: 150px;
}
.fa-5x{
	color: blue	;
	margin-left: 27px;
}

.parallax-window {
    min-height: 400px;
    background: rgba(255,255,255,0.5);
    background: rgba(0,0,0,0.5);
   
 
}
aside.parallax{
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 1px;

}

.a_propos{
	text-align: center;
	font-size: 15px;
	color: #313B3A;
}
.button {
    width: 200px;
    margin: 50px auto;
    margin-top: 20px;

}

.button a {
    display: block;
    height: 50px;
    width: 200	px;
    font: 17px/50px sans-serif,Helvetica;
    text-decoration: none;
    text-align: center;
    color:  #a2134b;
    background-color: rgba(255,255,255,0.5);
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid  #a2134b ;
    transition: 0.5s;
}
.button a:hover{
	  background-color:  #a2134b;
    color:white;
    transition: 0.5s;
}

p {
    margin-top: 15px;
    color:  #a2134b;
    font-size: 16px;
}

.about{
	background-image: url('../img/app.jpeg');
	margin: 0px 0 -22px 0;
	padding-bottom: 285px;
  height: 500px;
}

h4{
	margin-bottom: 40px;
}

 h5{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
    color: #BCBCBC;
}
img {
    vertical-align: middle;
    margin-left: 56px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 33px;
}
.col-md-12 {
    width: 100%;

}


  /*// EXPERIENCE //*/

  #experience{
    width: 100%;
    text-align: center;
    margin-top: 155px;
    margin-bottom: 95px;
  }

.text-center .span{

	/*background-color: #CECECE;*/
	color:#BCBCBC;
	/*padding: 5px;*/
	margin-bottom: 50px;
}
.col-md-6 {
    width: 50%;
    margin-top: 37px;
    
}


	/*// FORMATIONS //*/

  #formation{
  width: 100%;
  text-align: center;
  padding: 11px;
  margin-bottom: 95px;
}


.btn-light {
    border-radius: 0;
    color: #333;
    background-color: #0A0106;
    border: 1px solid black;
    margin-top: 10px;
}
.btn-light:hover{

transition-duration: 0.8s;
background-color: #19114F;
color:  #CECECE;
}

/*// REALISATIONS //*/
.img-portfolio {
    margin: 0 auto;
    margin-top: 20px;
}
.img-portfolio:hover {
    opacity: 0.8;
    background-color: red;
}

.img-responsive:hover{
	 opacity: 0.8;
    background-color: blue;
}
.mes_rea{
	width: 293px;
	padding: 11px;

}

.realisation{

	background-color:#F2F2F2;


}
.btn-dark {
    color:  #a2134b;
    background-color: rgba(255,255,255,0.5);
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid  #a2134b ;
    margin-top: 27px;
    padding: 15px;
}

.btn-dark:hover{
    background-color:  #a2134b;
    color:white;
    transition: 0.5s;
}


/*// CONTACT //*/
form{
	text-align: center;
	margin-right: 393px;
	margin: 0 auto;
}
.me_contacter{
	margin-bottom: 40px;
	margin-top: 60px;
	text-align: center;
	color: #d3b7ac;
}
.formulaire{
	width: 615px;
	height: 50px;
	border-radius: 5px;
	background: rgba(162,19,75,0.5);

}
.formulaire:focus{
	width: 615px;
	height: 50px;
	border-radius: 5px;
	background-color: #F8F8F8;
	border: 1px solid  #a2134b;

}
.message{
	width: 615px;
	border-radius: 5px;
	height: 200px;
	background: rgba(162,19,75,0.5);
}
.message:focus{
	width: 615px;
	border-radius: 5px;
	height: 200px;
	background-color: #F8F8F8;
	border: 1px solid  #a2134b;
}
#contact p{
	text-align: center;
	margin-bottom: 40px;
}
input[placeholder]{
	color: #fff;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 3px;
}
input[placeholder]:focus{
	color : #a2134b;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 3px;
}
textarea[placeholder]{
	color: #fff;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 5px;
}
textarea[placeholder]:focus{
	color:  #a2134b;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 5px;
}
.envoyer{
	height: 50px;
	width: 200px;
	color:  #a2134b;
	font: 17px/50px sans-serif,Helvetica;
	text-align: center;
	text-transform: uppercase;
	margin-top: 10px;
    background-color: rgba(255,255,255,0.5);
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid  #a2134b ;
}
.envoyer:hover{
	background-color:  #a2134b;
    color:white;
    transition: 0.5s;
}

/*// FOOTER ///*/
 footer .container{
 	text-align: center;
 	margin-top: 50px;

 }
 .fa-3x {
    font-size: 3em;
    color: #19114F;
}
a {
    text-decoration: none;
    color: #8b6f25;
}
.name{
	color: :#19114F;
}
/* // font awesome //*/

.fin {
    color: #8b6f25;

}
.date{


}

#container {
  width: 500px;
  margin: auto;
}

/*Neon*/	

.soustitre a {
  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.list{
	list-style: none;
	color: #8b6f25;
}

.app{
  color: #8b6f25;
  font-size: 15px;
}
.fa-2x:hover{
  color: #f0d1e1;
  transition: 0.3s;
}