/*/// HEADER ///*/

#top .btn{
	float: right;
	margin-right: 20px;
	margin-top: 280px;
	position: relative;
}

.text-vertical-center h1{
	font-size: 6.5em;
	text-align: center;
	margin-bottom: 35px;
	margin-top: 90px;
	font-family: 'Arsenal', sans-serif;
	color: #CECECE;
	text-shadow: 2px 2px 3px #5C2545;
}
.soustitre {
    border-top: 1px solid white;
    text-align: center;
    font-size: 30px;
    padding-top: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}


/*.header{
	background-image: url(../img/malteserois.jpeg);
	position: relative;
	z-index: 10;
}*/

.header {
	background: none;
}
.parallax-window {
    min-height: 400px;
    background: rgba(255,255,255,0.5);
    background: rgba(0,0,0,0.5);
}


/*/// WRAPPER ///*/

.text-center{
	text-align: left;
	font-family: 'Roboto Condensed', sans-serif;
}
.col-lg-12 {
    width: 100%;
    margin-bottom: 100px;
    padding-top: 40px;
}

.fa-4x {
    font-size: 4em;
    color: black;
}
/*//COMPETENCES NUMERIQUES //*/


.text-center h2 {
    font-size: 30px;
    color: #7C1652;
    text-align: center;	
    margin-bottom: 83px;
    font-family: 'Arsenal', sans-serif;
}

.portfolio{
	background-color: #F8F8F8;
}
h3{
	margin-bottom: 70px;
	text-align: left;
	border-bottom: 1px solid black;
	margin-top: 151px;

}
.fa-lg{
	margin-top: 20px;
	text-align: left;
}


/*// A PROPOS //*/

.a_propos{
	text-align: center;
}
.button {
    width: 200px;
    margin: 100px auto;
}

.button a {
    display: block;
    height: 50px;
    width: 200px;
    color: #7C1652;
    font: 17px/50px sans-serif,Helvetica;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    background: #CECECE; 
    border-radius: 8px;
}


p {
    margin-top: 15px;

}

.about{
	background-color: #F4F4F4;
	margin: 0px 0 -22px 0;
	padding-bottom: 95px;
}

h4{
	margin-bottom: 40px;	
}

 h5{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
}

/*hr.small {
    max-width: 800px;
    margin-bottom: 250px;
    margin-top: 200px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  
   }*/

  /*// experience //*/
.text-center span{
	
	background-color: #7C1652;
	color: white;
	padding: 5px;
	margin-bottom: 50px;
}

	/*// formations //*/
.btn-light {
    border-radius: 0;
    color: #333;
    background-color: #F8F8F8;
    border: 1px solid black;
    margin-top: 10px;
}
.btn-light:hover{

transition-duration: 0.8s;
background-color: #7C1652;
color:  #CECECE;
}

/*// MES REALISATIONS //*/
.img-portfolio {
    margin: 0 auto;
    margin-top: 20px;
}
.portfolio{
	background-color: #F8F8F8;
}
.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    margin-top: 27px;
}

/*// CONTACT //*/
form{
	text-align: center;
	margin-right: 393px;
	margin: 0 auto;
}
.me_contacter{
	margin-bottom: 40px;
	margin-top: 60px;
	text-align: center;
	color: #7C1652;
}
.formulaire{
	width: 615px;
	height: 50px;
	border-radius: 5px;
	background-color: #7C1652;

}
.formulaire:focus{
	width: 615px;
	height: 50px;
	border-radius: 5px;
	background-color: #F8F8F8;
	border: 1px solid #7C1652 ;

}
.message{
	width: 615px;
	border-radius: 5px;
	height: 200px;
	background-color: #7C1652;
}
.message:focus{
	width: 615px;
	border-radius: 5px;
	height: 200px;
	background-color: #F8F8F8;
	border: 1px solid #7C1652 ;
}
#contact p{
	text-align: center;
	margin-bottom: 40px;
}
input[placeholder]{
	color: #F4F4F4;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 3px;
}
input[placeholder]:focus{
	color:#7C1652;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 3px;
}
textarea[placeholder]{
	color: #F4F4F4;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 5px;
}
textarea[placeholder]:focus{
	color: #7C1652;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 5px;
}


/*// FOOTER ///*/
 footer .container{
 	text-align: center;
 	margin-top: 50px;

 }
 .fa-3x {
    font-size: 3em;
    color: #31B59F;
}
a {
    color: #31B59F;
    text-decoration: none;
}
.name{
	color: :#7C1652;
}
/* // font awesome //*/

.fin {
    color: #7C1652;

}
.date{

	
}
